.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 18px;
    }
}
@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}