@import url(../../blocks/place/__title/place__title.css);
@import url(../../blocks/place/__website/place__website.css);
@import url(../../blocks/place/__url-heading/place__url-heading.css);
@import url(../../blocks/place/__link/place__link.css);
@import url(../../blocks/place/__image/place__image.css);
@import url(../../blocks/place/__paragraphes/place__paragraphes.css);
@import url(../../blocks/place/__paragraph/place__paragraph.css);

.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3.75em;
    grid-column-gap: 2.5em;
    margin-bottom: 4.563em;
}
.place:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 767px){
    .place__title {
        font-size: 32px;
        max-width: 288px;
        margin-bottom: 8%;
    }
    .places {
        width: 100%;
    }
    .place {
        grid-gap: 0;
        display: flex;
        flex-direction: column;
    }
    .place__website {
        margin-bottom: 2em;
    }
    .place__image {
        margin-bottom: 2em;
    }
    .place__paragraph:last-child {
        margin-top: 1.563em;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .places {
        width: 95%;
    }
    .place__title {
        font-size: 42px;
        max-width: 340px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__title {
        width: 47%;
        max-width: 400px;
    }
}
@media screen and (min-width: 1280px) {
    .place__title {
        max-width: 460px;
    }
}