.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media screen and (max-width: 767px){
    .place__website {
        margin-bottom: 2em;
        padding-left: 16px;
    }
}